[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sse-starlette = "*"
uvicorn = "*"
starlette = "*"
jinja2 = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.9"
